<?xml version="1.0"?>
<robot name="simple_rover">

  <!-- Base footprint (floating base) -->
  <link name="base_footprint">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.1" />
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>

  <!-- Fixed joint: base_footprint → base_link -->
  <joint name="base_footprint_to_base_link" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Base link -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="1.0" />
      <inertia ixx="1" iyy="1" izz="1" ixy="0" ixz="0" iyz="0" />
    </inertial>
  </link>

  <!-- Laser link -->
  <link name="laser_frame"/>

  <!-- Static transform from base_link → laser -->
  <joint name="laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="laser_frame"/>
    <!-- <origin xyz="0.12 0 0.12" rpy="0 0 0"/> -->
    <origin xyz="0.20 0 0.20" rpy="0 0 0"/> 
  </joint>

</robot>
