lifecycle_manager:
  ros__parameters:
    use_sim_time: false
    autostart: true

    node_names:
      - controller_server
      - smoother_server
      - planner_server
      - route_server
      - behavior_server
      - bt_navigator
      - waypoint_follower
      - velocity_smoother
      - collision_monitor
